/* The main content */


.event-map-wrapper {
	display:grid;
	grid: auto/ 450px auto;
	/* row/colum colum */
	grid-gap: 5px;
	height: 100vh;
}

.event {
	background-color: #2d2d2d;
	color: white;
	padding: 10px 10px;
}

.map-container {
   	width: 100%;
	grid-area:1/2/6/3;   
	/* grid-column-start: 2; 
	grid-column-end: 3; 
  	grid-row-start: 1; 
  	grid-row-end: 6;  */
  }


.event:hover {	
	background-color: #3a3a3a;
}