/* The left sidebar */
.sidebar-left {
  /* position: inline; */
  /* top: 0; */
  /* left: 0; */
  background-color: #ffec4f;
  /* background-size: cover; */
  /* width: 200px; */
  /* height: 100%; */
  /* width: auto; */
  /* height: auto; */
  /* padding: 20px 0; */

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:


}

.icon {
  /* display: inline-block; */
  margin: 30px 10px;
  padding: 0;
  width: 80px;
}

.sidebar-left a.company-logo {
  /* display: inline-block; */
  text-decoration: none;
  margin: 0 0 0 20px;
  padding: 10px 0px 0px 0px;
  text-align: center;
  color:  #ffffff;
  font-size: 30px;
  font-weight: 600;
}

.sidebar-left .sidebar-links {
  margin: 20px auto;
  float: right;

}

.sidebar-left .sidebar-links li {
  display: inline-block;
  text-decoration: none;
  margin: 0 15px 5px auto;
  padding: 40px 0;
  /* background-color: rgba(255, 255, 255, 0.1); */
  text-align: center;
  color: black;
  font-size: 16px;
  font-weight: bold;
  /* border-left-width: 2px; */
  /* border-left-style: solid; */
}
/*
.sidebar-left .sidebar-links a i.fa {
  display: block;
  font-size: 35px;
  margin-bottom: 5px;
}
*/

.sidebar-left .sidebar-links li:hover{
  /* background-color: rgba(255, 255, 255, 0.5); */
  /* color: #ffffff; */
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
       -o-transition: all 0.5s;
          transition: all 0.5s;
}
/*
.sidebar-left .sidebar-links a.selected{
  background-color: #ffffff;
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  font-weight: bold;
  cursor: default;
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
       -o-transition: all 0.5s;
          transition: all 0.5s;
}
*/


/* Making the sidebar responsive */
@media (max-width: 900px) {

  .main-content{
    max-width: none;
    padding: 40px 20px;
    margin: 0 0 40px;
  }

  .sidebar-left {
    width: auto;
    height: auto;
    position: inherit;
    padding: 20px 0 0;
  }

  .sidebar-left .sidebar-links {
    text-align: right;
    margin: 20px auto 0;
  }

  .sidebar-left .sidebar-links li {
    display: inline-block;
    width: 100px;
    margin: 0;
    padding: 14px 0;
    /* border-left: none; */
    /* border-top-width: 2px; */
    /* border-top-style: solid; */
  }

}

/* Mobile phone layout */
@media (max-width: 450px) {

  .sidebar-left {
    padding: 20px 0;
  }

  .sidebar-left .sidebar-links {
    text-align: center;
    margin: 20px auto 0;
  }

  .sidebar-left .sidebar-links li {
    display: block;
    max-width: 240px;
    width: auto;
    vertical-align: middle;
    text-align: left;
    margin: 0 auto 5px;
    padding: 10px 25px;
    border-top: none;
    /* border-left-width: 2px; */
    /* border-left-style: solid; */
  }

  .sidebar-left .sidebar-links a i.fa {
    display: inline-block;
    font-size: 20px;
    width: 20px;
    margin: 0 20px 0 0;
    vertical-align: middle;
  }

}
